api_token   = "seu_token_para_api_hostiger"
password    = "alguma_senha"
hostname    = "server"
region_id   = "14"
template_id = "1077"
plan        = "kvm2"
ssh_key_ids = [280072]
domain      = "meudominio.com"